@charset "UTF-8";
/* 제작자 : 박종상*/
html, body, h1, h2, h3, h4, h5, h6, dt, dl, dd, p, ul, li, ol, ul, strong, em, i, b, button, select, input, img, article, aside, figcaption, figure, footer, header, main, nav, output, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Nanum Barun Gothic', sans-serif;
	font-size: 18px;
	color: #888;
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -.5px;
}

a {
	color: #888;
}

main, header, footer, aside, nav, article, address {
	display: block;
}

input, button, select, textarea {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

ul, ol, dl {
	list-style: none;
}

em, i, address {
	font-style: normal;
}

hr {
	display: none;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button > span {
	position: relative;
}

table {
	width: 100%;
	border-collapse: 0;
	table-layout: fixed;
}

#skip a {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	background-color: #005c83;
	color: #fff;
	font-size: 21px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#skip a:focus {
	top: 0;
}

.clear:after {
	display: block;
	clear: both;
	content: '';
}

.fl {
	float: left;
}

.fr {
	float: right;
}

#wrap {
	min-width: 1350px;
}

.tc {
	text-align: center;
}

.content_inner {
	position: relative;
	width: 1210px;
	margin: 0 auto;
}

.point_star:after {
	background-image: url(../img/sp_common.png);
	width: 102px;
	height: 17px;
	background-position: 0px -251px;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.point_star.point_5:after {
	width: 102px;
	height: 17px;
	background-position: -112px -251px;
}

.point_star.point_4:after {
	width: 102px;
	height: 17px;
	background-position: -224px -251px;
}

.point_star.point_3:after {
	width: 102px;
	height: 17px;
	background-position: -112px -278px;
}

.point_star.point_2:after {
	width: 102px;
	height: 17px;
	background-position: 0px -278px;
}

.btn_basic_more {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #999;
	text-align: center;
}

.btn_basic_more:before, .btn_basic_more:after {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 10px;
	height: 2px;
	margin: -1px -5px 0 0;
	background-color: #fff;
	content: '';
}

.btn_basic_more:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.btn_basic_more:hover, .btn_basic_more:focus {
	background-color: #666;
}

#header .header_top {
	padding: 14px 0;
}

#header .header_top:after {
	display: block;
	clear: both;
	content: '';
}

#header .logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}

#header .logo > a {
	display: block;
	width: 97px;
	height: 122px;
	background: url(../img/dist/logo.png) no-repeat;
}

#header .search_wrap {
	display: inline-block;
	vertical-align: middle;
}

#header .title_main_search {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
	font-size: 20px;
	font-weight: 700;
	color: #888;
}

#header .input_wrap {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 452px;
	padding-right: 50px;
	border: 3px solid #e62a4a;
	border-radius: 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#header .input_wrap > input {
	display: block;
	width: 100%;
	padding: 10px 27px;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#header .input_wrap .btn_search {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 0 17px 0 11px;
	cursor: pointer;
}

#header .input_wrap .btn_search:after {
	position: absolute;
	top: 11px;
	left: 0;
	bottom: 11px;
	width: 1px;
	background-color: #999;
	content: '';
}

#header .input_wrap .btn_search:before {
	background-image: url(../img/sp_common.png);
	width: 17px;
	height: 19px;
	background-position: -276px -65px;
	display: block;
	content: '';
}

.user_menu {
	float: right;
	margin-top: 50px;
}

.user_menu > [class^=list] {
	float: left;
}

.user_menu > [class^=list] > li {
	float: left;
}

.list_user_meun > li {
	position: relative;
}

.list_user_meun > li + li {
	margin-left: 6px;
	padding-left: 6px;
}

.list_user_meun > li + li:before {
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 0;
	width: 1px;
	background-color: #9a9a9a;
	content: '';
}

.list_user_meun > li > a {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	color: #bbb;
}

.list_user_meun > li > a:hover, .list_user_meun > li > a:focus {
	color: #888;
}

.list_sns_menu {
	margin: -3px 0 0 20px;
}

.list_sns_menu > li + li {
	margin-left: 6px;
}

.list_sns_menu > li .ico_sns {
	background-image: url(../img/sp_common.png);
	display: block;
}

.list_sns_menu > li .ico_sns.ico_fb {
	background-image: url(../img/sp_common.png);
	width: 22px;
	height: 22px;
	background-position: -315px -31px;
}

.list_sns_menu > li .ico_sns.ico_blog {
	background-image: url(../img/sp_common.png);
	width: 22px;
	height: 22px;
	background-position: -244px -65px;
}

.list_sns_menu > li .ico_sns.ico_video {
	background-image: url(../img/sp_common.png);
	width: 22px;
	height: 22px;
	background-position: -283px -31px;
}

#gnb {
	background-color: #87c223;
}

#gnb .list_gnb {
	display: inline-block;
	font-size: 0;
}

#gnb .list_gnb > li {
	display: inline-block;
	position: relative;
}

#gnb .list_gnb > li + li:before {
	position: absolute;
	top: 50%;
	left: -1px;
	width: 3px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	content: '';
}

#gnb .list_gnb > li > a {
	display: block;
	padding: 14px 60px;
	font-size: 18px;
	color: #fff;
}

#gnb .list_gnb > li > a:hover, #gnb .list_gnb > li > a:focus {
	background-color: #80b921;
}

.main_info_shop {
	overflow: hidden;
	padding: 20px 5px 0px;
}

.main_info_shop .name_item {
	float: left;
}

.main_info_shop .name_item .text_region {
	font-size: 13px;
}

.main_info_shop .name_item .name_shop {
	font-size: 19px;
	margin-top: 4px;
	font-weight: 700;
	color: #222;
}

.main_info_shop .info_point {
	float: right;
	text-align: right;
}

.main_info_shop .info_point .num_point {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	color: #999;
}

.main_info_shop .info_point .num_point.point_star:after {
	display: block;
	margin-top: 5px;
}

.btn_bottom_visual {
	position: absolute;
	bottom: 102px;
	left: 50px;
	display: inline-block;
	padding: 23px 56px 20px;
	border: 1px solid rgba(135, 194, 35, 0.5);
	font-size: 16px;
	font-weight: 700;
	color: #87c223;
	line-height: 1;
	text-transform: uppercase;
}

.btn_bottom_visual:hover {
	background-color: #87c223;
	border-color: #87c223;
	color: #fff;
}

.notice_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 60px;
}

.banner_notice {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.banner_notice .footer_banner {
	float: left;
	width: 344px;
}

.banner_notice .title_footer_banner {
	float: right;
	width: 180px;
	height: 210px;
	padding: 20px;
	background-color: #87c223;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	line-height: 1.15;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 15px;
}

.banner_notice .title_footer_banner:after {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	content: '';
}

.banner_notice .title_footer_banner > span {
	display: inline-block;
}

.banner_notice .title_footer_banner > span:after {
	background-image: url(../img/sp_common.png);
	width: 93px;
	height: 21px;
	background-position: -244px 0px;
	display: block;
	content: '';
}

.banner_notice .footer_banner {
	display: block;
	position: relative;
}

.banner_notice .item_footer_banner:hover .footer_banner_btn, .banner_notice .item_footer_banner:focus .footer_banner_btn {
	background-color: #999;
	color: #fff;
}

.banner_notice .footer_banner_btn {
	position: absolute;
	right: 20px;
	bottom: 50px;
	z-index: 2;
	padding: 7px 35px 6px;
	border: 1px solid #999;
	font-size: 15px;
	color: #999;
	font-weight: 700;
}

.banner_notice .footer_banner_pager {
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 3;
	width: auto;
	text-align: right;
}

.banner_notice .footer_banner_pager .swiper-pagination-bullet {
	width: 17px;
	height: 7px;
	background-color: #575a62;
	border-radius: 0;
	opacity: 1;
}

.banner_notice .footer_banner_pager .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #87c223;
}

.notice_wrap {
	overflow: hidden;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: 20px;
}

.notice_box {
	float: left;
	width: 50%;
	position: relative;
}

.notice_box + .notice_box {
	width: 45%;
	margin-left: 5%;
}

.notice_box .title_notice {
	font-size: 26px;
	color: #262626;
	font-weight: 700;
}

.notice_box .btn_basic_more {
	position: absolute;
	top: 0;
	right: 0;
}

.list_notice {
	margin-top: 5px;
}

.list_notice > li {
	line-height: 1.5;
}

.list_notice > li + li {
	border-top: 1px dotted #ddd;
}

.list_notice > li > a {
	overflow: hidden;
	display: block;
	padding: 7px 0;
	font-size: 14px;
	color: #9b9a9a;
}

.list_notice > li > a:hover .text_notice,
.list_notice > li > a:focus .text_notice {
	color: #555;
}

.list_notice > li > a > div {
	float: left;
	width: 65%;
}

.list_notice > li > a.point_star:after {
	float: right;
}

.list_notice .text_notice {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	max-width: 65%;
	vertical-align: top;
}

.list_notice .data_notice {
	float: right;
}

.info_store {
	background-color: #f9f9f9;
	padding: 45px 0;
}

.info_store .content_inner {
	overflow: hidden;
}

.info_store .menu_help {
	float: left;
	width: 49%;
}

.info_store .menu_help + .menu_help {
	margin-left: 2%;
}

.info_store .list_help_option {
	overflow: hidden;
}

.info_store .list_help_option > li {
	float: left;
	width: 50%;
	text-align: center;
}

.info_store .list_help_option > li > a {
	display: inline-block;
	padding-top: 20px;
}

.info_store .list_help_option > li > a:hover .text_option, .info_store .list_help_option > li > a:focus .text_option {
	color: #222;
}

.info_store .list_help_option .title_option {
	font-size: 26px;
	font-weight: 600;
	color: #222;
}

.info_store .list_help_option .title_option:before, .info_store .list_help_option .title_option:after {
	display: block;
	margin: 0 auto;
	content: '';
}

.info_store .list_help_option .title_option:before {
	width: 34px;
	height: 2px;
	margin-bottom: 15px;
	background-color: #222;
}

.info_store .list_help_option .title_option:after {
	background-image: url(../img/sp_common.png);
	margin-top: 10px;
}

.info_store .list_help_option .option_shop .title_option:after {
	width: 112px;
	height: 112px;
	background-position: -122px 0px;
}

.info_store .list_help_option .option_service .title_option:after {
	width: 112px;
	height: 112px;
	background-position: 0px 0px;
}

.info_store .list_help_option .text_option {
	margin-top: 15px;
	line-height: 1.5;
}

.footer_info {
	padding: 20px 0 75px;
	background-color: #333;
}

.list_footer_use > li {
	float: left;
	position: relative;
}

.list_footer_use > li + li {
	margin-left: 15px;
	padding-left: 15px;
}

.list_footer_use > li + li:before {
	position: absolute;
	top: 3px;
	left: 0;
	bottom: 3px;
	width: 1px;
	background-color: #666;
	content: '';
}

.list_footer_use > li > a {
	font-size: 16px;
}

.list_footer_use > li > a:hover, .list_footer_use > li > a:focus {
	color: #aaa;
}

.num_tell {
	margin-top: -4px;
	font-size: 26px;
	color: #87c223;
	font-weight: 600;
}

.num_tell:before {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/sp_common.png);
	width: 29px;
	height: 24px;
	background-position: -244px -31px;
	margin: -3px 8px 0 0;
	content: '';
}

.company_info {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #555;
	position: relative;
}

.list_company_info {
	overflow: hidden;
}

.list_company_info > li {
	float: left;
	position: relative;
	font-size: 14px;
}

.list_company_info > li + li {
	margin-left: 10px;
	padding-left: 10px;
}

.list_company_info > li + li:before {
	position: absolute;
	top: 3px;
	left: 0;
	bottom: 3px;
	width: 1px;
	background-color: #666;
	content: '';
}

.list_company_info > li.br_item {
	padding-left: 0;
	margin-left: 0;
	margin-top: 10px;
	clear: both;
}

.list_company_info > li.br_item ~ li {
	margin-top: 10px;
}

.list_company_info > li.br_item:before {
	display: none;
}

.info_btn_area {
	position: absolute;
	top: 25px;
	right: 0;
}

.info_btn_area > a {
	display: inline-block;
	min-width: 160px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #1c1c1c;
	text-align: center;
}

.info_btn_area > a + a {
	margin-left: 12px;
}

.info_btn_area > a.active {
	background-color: #87c223;
	color: #fff;
}

address {
	margin-top: 30px;
	font-size: 14px;
}

address > span {
	color: #87c223;
}
/*# sourceMappingURL=common.css.map */
